
.logo{
  width: auto;
  height: 230px;
  margin: -10px;
}

.offsetCol{
  padding-top: 10px;
}

.line{
  border-top: 1px solid #000000;
}

.header{
  background-color:#708090;
  height: 215px;
}

.navbar{
  margin-top: 70px;
  margin-bottom: 90px;
  justify-content: left;
  background-color: white;
  border-radius: 5px;
  padding-right: 200px;
}

.navbar-brand{
  color:black;
  font-size: 25;
  padding-right: 10px;
  padding-left: 10px;
  border:5px;
}

.logo{
  margin-right: 40px;
}

a:hover {
  /* border-style: solid; */
  background-color: #D3D3D3;
  color:black;
  /* border: 5px; */
  border-radius: 5px;
  /* border-width: 5px; */
  border: 1px solid black;
  bprder
  /* TODO put a black border around this */
}

body{
  background-color:black;
}


#mainBody{
  background-color:white;
  margin-top:15px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.inner{
  padding-left: 20px;
}

.orangeText{
  color: #FF6F15;
}

.productName{
  font-weight: bold;
  padding-left:40px;
  padding-bottom: 40px;
}

.productSpace{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #FF8D40;
  border-radius: 10px;
  color:white;
}
