
.offsetCol{
  padding-top: 10px;
}

.line{
  border-top: 1px solid #000000;

}

.header{
  background-color:#7c8990;
}

.navbar{
  margin-top: 90px;
  margin-bottom: 90px;
  justify-content: left;
  background-color: white;
  border-radius: 5px;
}

.navbar-brand{
  color:black;
  font-size: 25;
  padding-right: 10px;
}

.logo{
  margin-right: 40px;
}

a:hover {
  border-color:black;
  background-color: #D3D3D3;
  color:black;
  border-radius: 5px;
  /* TODO put a black border around this */
}

body{
  background-color:black;
}

.container{
  background-color:white;
}

#mainBody{
  background-color:white;
  margin-top:20px;
  border-radius: 20px;
}

.inner{
  padding-left: 20px;
}

.orangeText{
  color: #e57300;
}

.productName{
  font-weight: bold;
  font-size: 18;
  padding-left:40px;
  padding-bottom: 40px;


}

.productSpace{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #e57300;
  border-radius: 10px;
  color:white;
  font-weight: none;
}
